<rk-grouped-list
  [items]="tiles()"
  [groupKeyFn]="groupByFolderPath"
  [groupKeys]="folders()"
  [selectedItemId]="selectedTileId()"
  [collapsedGroups]="collapsedFolders()"
  [indentGroups]="true"
  title="Tiles"
  itemIcon="grid_view"
  createGroupLabel="New Folder"
  createItemLabel="New Tile"
  (itemSelect)="onTileSelect($event)"
  (itemDelete)="onTileDelete($event)"
  (groupChange)="onTileFolderChange($event)"
  (toggleGroup)="toggleFolder.emit($event)"
  (groupMove)="onGroupMove($event)"
  (groupRename)="folderRename.emit($event)"
  (createGroup)="createFolder.emit($event)"
  (createItem)="tileCreate.emit()"
></rk-grouped-list>
