<rk-grouped-list
  [items]="scenes()"
  [groupKeyFn]="groupByFolderPath"
  [groupKeys]="folders()"
  [selectedItemId]="selectedSceneId()"
  [collapsedGroups]="collapsedFolders()"
  title="Scenes"
  itemIcon="map"
  createGroupLabel="New Group"
  createItemLabel="New Scene"
  (itemSelect)="onSceneSelect($event)"
  (itemDelete)="onSceneDelete($event)"
  (groupChange)="onSceneFolderChange($event)"
  (toggleGroup)="onToggleGroup($event)"
  (createGroup)="onCreateGroup()"
  (createItem)="createScene.emit()"
></rk-grouped-list>
