<div class="tw-flex tw-h-full">
  <rk-scene-list
    class="tw-w-64 tw-shrink-0"
    [scenes]="scenes()"
    [selectedSceneId]="selectedSceneId()"
    (sceneSelect)="selectScene($event)"
    (createScene)="onCreateScene()"
    (sceneFolderChange)="onSceneFolderChange($event)"
  />
  <div class="tw-flex-1 tw-relative tw-overflow-hidden">
    <rk-map-canvas
      [scene]="selectedScene()"
      [selectedTileId]="selectedTileId()"
      [palette]="projectPalette()"
      (tilePlaced)="onTilePlaced($event)"
    />
  </div>
  <rk-tile-palette
    class="tw-w-64 tw-shrink-0"
    [tiles]="projectTiles()"
    [selectedTileId]="selectedTileId()"
    [palette]="projectPalette()"
    (tileSelect)="selectedTileId.set($event)"
  />
</div>
